:root{
  --colorX: #ff66c4;
  --color-backgroundX: #ff71c9;
  --colorO: #5ce1e6;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
  font-size: 62.5%;
}
#bodyGame{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: #5657F2;
}
header{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  /* padding: 5% 0 5% 12%; */
}
#picture_game{
  width: 20%;
}
.outerContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  width: 100%;
}
.containerGame{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerReset > button, #voltar{
  font-size: 2rem;
  color: white ;
}
.containerVoltar, .containerReset{
  width: 33%;
}
.containerReset{
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.game{
  margin: 10px;
  display: grid;
  grid-template-columns: auto auto auto; 
}
.game_button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  border: 2px solid #F2b705;
  border-radius: 50px;
  font-size: 5rem; 
  color: white;
  background-color: #2a2c59;
}
.game_button:hover{
  background-color: #230443;
  color: white;
  transition: 0.5s;
}
.game_button.X, .game_button.O{
  color: #00000088;
  font-weight: 700;
}
.game_button.X.Ganhou, .game_button.O.Ganhou{
  color: #00000088;
  font-weight: 700;
  background-color: orange;
  border: 2px solid #F2b705;
}
.game_button.X{
  background-color: #b5b6f5;
  border: 2px solid #20303d;
}
.game_button.O{
  background-color: var(--colorO);
  border: 2px solid #015f62;
}
#playerX{
  color: #b5b6f5;
  -webkit-text-stroke: 1px #20303d;
}
#playerO{
  color: var(--colorO);
  -webkit-text-stroke: 1px #015f62;
}
h1{
  font-size: 4rem;
  color: white;
  -webkit-text-stroke: 1.3px #000;
  text-shadow: black 0.1em 0.1em 0.2em;
}
h2{
  font-size: 3.2rem;
  color: white;
  -webkit-text-stroke: 1.3px #000;
  text-shadow: black 0.1em 0.1em 0.2em;
}
h3{
  font-size: 4rem;
  color: #04bf55;
  -webkit-text-stroke: 1.5px #014119;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.opcao{
  font-size: 2.5rem;
  vertical-align: top;
  color: white;
  background-color: #000;
  border-radius: 100px;
  margin: 0 2%;
  height: 50px;
}
.opcao:hover{
  transform: scale(1.05);
  transition: 0.2s;
}
#zerar{
  border: 1px solid white;
  padding: 5px;
  font-size: 1.2rem;
}
.pontuacao{
  margin: 5% 0;
}
.pontos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  color: orange;
  font-size: 5rem;
  -webkit-text-stroke: 2px #000;
}
.resultado{
  font-size: 3rem;
  text-align: center;
  color: rgb(255, 197, 89);
  -webkit-text-stroke: 1px #000;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.containerRodada{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.containerRodada > span{
  font-size: 2.5rem;
  text-align: center;
  color: whitesmoke;
  -webkit-text-stroke: 1px #000;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.rodada{
  display: flex;
  flex-direction: row;
  background-color: #d5d4d4;
  border-radius: 5px;
  margin-top: 12px;
  box-shadow: 1px 1px 4px 0px rgb(105, 1, 105);
}
.boxX, .boxO, .divisionLine{
  font-size: 3rem;
  text-align: center;
  vertical-align: baseline;
}
.boxX, .boxO{
  padding: 0px 25px;
  border-radius: 5px;
}
.divisionLine{
  font-weight: 400;
  opacity: 0.8;
}
.boxX{
  background-color: #a9a9e7;
  border-bottom: 5px solid #4c3f9d;
  transition: 0.1s linear; 
}
.boxO{
  background-color: #a3eff2e0;
  border-bottom: 5px solid #015f62;
  transition: 0.1s linear;
}
.inativo{
  background-color: transparent;
  border-bottom: 5px solid transparent;
}

@media (max-width: 2560px){
  .containerVoltar svg, .containerReset svg, #zerar{
    display: none;
  }
  header, .outerContainer{
    width: 60%;
  }
  .game_button{
    height: 15rem;
    width: 15rem;
  }
  .containerReset > button, #voltar{
    margin: 13px;
  }
  .placarSuperior{
    display: none;
  }
}
@media (max-width: 1980px){
  header, .outerContainer{
    width: 100%;
  }
}
@media (max-width: 1024px){
  .game_button{
    font-size: 3rem;
    height: 10rem;
    width: 10rem;
    border-radius: 32px;
  }
  .opcao{
    margin: 0;
  }
  .containerReset > button, #voltar{
    font-size: 1.5rem;
    width: 130px;
    margin: 2px 5px;
  }
  h2{
    font-size: 3rem;
  }
}
@media (max-width: 768px){
  .containerReset{
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (max-width: 425px){
  .placarSuperior{
    display: inline-block;
  }
  .pontuacao{
    display: none;
  }
  .containerReset{
    justify-content: flex-start;
  }
  .containerVoltar span, .containerReset span{
    display: none;
  }
  .containerVoltar svg, .containerReset svg, #zerar{
    display: inline-block;
  }
  .containerVoltar svg, .containerReset svg{
    font-size: 3rem;
  }
  .containerReset > button, #voltar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
  }
  #voltar svg{
    margin-left: 5px;
  }
  .containerRodada > span{
    font-size: 2rem;
  }
  .boxX, .boxO{
    font-size: 2rem;
    width: 95px;
  }
  .resultado{
    font-size: 2.5rem;
    width: 33%;
  }
  .containerRodada{
    justify-content: flex-start;
  }
}
@media (max-width: 320px){
  .game_button{
    width: 9rem;
    height: 9rem;
  }
  .boxX, .boxO {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 50px; 
  }
}